<?xml version="1.0"?>
<launch>

    <arg name="steerable_joints" default="[left_steering_joint,right_steering_joint]"/>
 
    <!-- robot_description is used by nodes that publish to joint_states. -->
    <rosparam param="wheelbase">0.335</rosparam>
    <rosparam param="tire_diameter">0.14605</rosparam>
    <rosparam param="hex_hub_dist">0.365</rosparam>
    <rosparam param="axel_length">0.03</rosparam>
    <rosparam param="tire_width">0.0889</rosparam>
    <param name="robot_description"
           command="$(find xacro)/xacro $(find kobayashi_maru_description)/urdf/kobayashi_maru_model.urdf.xacro"/>

    <!-- Read joint positions from joint_states, then publish the vehicle's
         state to tf. -->
    <node name="vehicle_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher">
      <param name="publish_frequency" value="30.0"/>
    </node>

    <!-- Read joint positions from a GUI, then publish them to joint_states. -->
    <node name="joint_state_publisher" pkg="joint_state_publisher"
          type="joint_state_publisher">
      <param name="rate" value="30"/>
      <rosparam param="source_list" subst_value="True">$(arg steerable_joints)</rosparam>
    </node>

</launch>
